
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid fill">

    <div class="row">
        @Html.Partial("_Menu")
    </div>

    <div class="row" style="border-top: 1px solid #738892;">

        @Html.Partial("_Institucional")

        <div class="col-md-10">
            <div style="min-height: 280px;">
                <h1 class="phrase wow fadeInDown animated">Criação, Inovação e Resultado estão no nosso DNA.</h1>
                <p class="sub-phrase wow fadeInDown animated">
                    Uma boa idéia não é nada sem uma excelente execução.
                    Somos especialistas em desenvolver aplicações web-based ricas em user-experience e user-interface,
                    que funcionam em qualquer dispositivo onde você estiver.
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10" style="padding-left: 0; padding-right: 0;">
            <div class="container-fluid container-features">

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card1-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Softwares sob demanda</h4>
                        <p>Desenvolvimento de soluções personalizadas sob demandas ou com foco nos processos operacionais da sua empresa.</p>
                    </div>
                </figure>

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card2-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Soluções para e-commerce</h4>
                        <p>Soluções de vendas em B2B, B2C, com plataforma de vendas online com várias formas de pagamento e analise de vendas.</p>
                    </div>
                </figure>

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card3-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Soluções para ERP</h4>
                        <p>Softwares que são possíveis fazer previsões com informações em tempo real de onde você estiver, de qualquer dispositivo.</p>
                    </div>
                </figure>

            </div>
        </div>
    </div>

</div>

<section id="features-1" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <h4 class="title-tecnologia">Softwares sob demanda</h4>
                <p class="paragraph-tecnologia">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-md-5 col-sm-5" style="align-items: center !important; display: flex !important; justify-content: center !important; text-align: center !important;">
                <img src="https://assets.ubuntu.com/v1/5051e6e5-core_logo.svg" style="width:300px; margin-top:40px;" class="img-responsive" />
            </div>
        </div>
        <br/><br />
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4 class="subtitle-tecnologia">Softwares sob demanda</h4>
                <p class="paragraph-tecnologia">Desenvolvimento de soluções personalizadas sob demandas ou com foco nos processos operacionais da sua empresa.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 class="subtitle-tecnologia">Softwares sob demanda</h4>
                <p class="paragraph-tecnologia">Desenvolvimento de soluções personalizadas sob demandas ou com foco nos processos operacionais da sua empresa.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 class="subtitle-tecnologia">Softwares sob demanda</h4>
                <p class="paragraph-tecnologia">Desenvolvimento de soluções personalizadas sob demandas ou com foco nos processos operacionais da sua empresa.</p>
            </div>
        </div>
    </div>
</section>



