<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=mssql914.umbler.com,5003;initial catalog=agilecore;user id=agilecore;password=f)UM92Sg-2S;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CamadaDeAcessos"  value="C:\Users\rodrigo.fernandes\Documents\GitHub\SolutionAgilecore\Agilecore.Data"   />
    <add key="CamadaComum"      value="C:\Users\rodrigo.fernandes\Documents\GitHub\SolutionAgilecore\Agilecore.Common" />
    <add key="CamadaDeDominio"  value="C:\Users\rodrigo.fernandes\Documents\GitHub\SolutionAgilecore\Agilecore.Domain" />
    <add key="CamadaDeFrontend" value="C:\Users\rodrigo.fernandes\Documents\GitHub\SolutionAgilecore\Agilecore.WebUI"  />
    <add key="NomeDoProjeto"    value="Agilecore" />
    <add key="NomeDoContext"    value="AgilecoreContext" />
    <add key="NomeDoSchema"     value="dbo" />
    <add key="Temporizador"     value="false" />
  </appSettings>
</configuration>