
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid fill">

    <div class="row">
        @Html.Partial("_Menu")
    </div>

    <div class="row" style="border-top: 1px solid #738892;">

        @Html.Partial("_Institucional")

        <div class="col-md-10">
            <div style="min-height: 280px;">
                <h1 class="phrase wow fadeInDown animated">Criação, Inovação e Resultado estão no nosso DNA.</h1>
                <p class="sub-phrase wow fadeInDown animated">
                    Uma boa idéia não é nada sem uma excelente execução.
                    Somos especialistas em desenvolver aplicações web-based ricas em user-experience e user-interface,
                    que funcionam em qualquer dispositivo onde você estiver.
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10" style="padding-left: 0; padding-right: 0;">
            <div class="container-fluid container-features">

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card1-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Softwares sob demanda</h4>
                        <p>Desenvolvimento de soluções personalizadas sob demandas ou com foco nos processos operacionais da sua empresa.</p>
                    </div>
                </figure>

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card2-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Soluções para e-commerce</h4>
                        <p>Soluções de vendas em B2B, B2C, com plataforma de vendas online com várias formas de pagamento e analise de vendas.</p>
                    </div>
                </figure>

                <figure class="col-md-4 col-sm-8 col-xs-12">
                    <div class="box">
                        <img src="https://banco.bradesco/assets/corporate/img/home/destaques/img-card3-hover.jpg" class="img-responsive img-round" />
                        <figcaption class="box-overlay"></figcaption>
                    </div>
                    <div class="panel-body">
                        <h4>Soluções para ERP</h4>
                        <p>Softwares que são possíveis fazer previsões com informações em tempo real de onde você estiver, de qualquer dispositivo.</p>
                    </div>
                </figure>

            </div>
        </div>
    </div>

</div>

<section id="features-1" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="title-service">Soluções integradas</h1>
                <p class="service-paragraph">Transactional version of Ubuntu for IoT devices and large container deployments. It runs a new breed of super-secure, remotely upgradeable Linux app packages known as snaps ‐ and it’s trusted by leading IoT players, from chipset vendors to device makers and system integrators.</p>
                <br/><br />
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p class="service-paragraph">Transactional version of Ubuntu for IoT devices and large container deployments. It runs a new breed of super-secure.</p>
                    </div>
                    <div class="col-md-6 col-sm-6" style="border-left:2px solid #d1d1d2;">
                        <p class="service-paragraph">Transactional version of Ubuntu for IoT devices and large container deployments. It runs a new breed of super-secure.</p>
                    </div>
                </div>
            
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="https://assets.ubuntu.com/v1/53163a88-IOT_core_infographic.svg?w=600" />
            </div>
        </div>
    </div>
</section>